@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '../../../node_modules/material-design-icons/iconfont/material-icons.css';

*{
    font-family: 'Roboto', sans-serif;
    .material-icons{
        cursor: pointer;
    }
    .task-options{
        padding: .50rem;
        margin: .30rem;
        border-bottom: 1px solid rgba(0,0,0, .5);
        background-color: white;
        height: 85px;
    }

    }

@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) { 

}
@include media-breakpoint-up(lg) {  }
@include media-breakpoint-up(xl) {  }
@include media-breakpoint-up(xxl) {  }

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }